@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap");

@import "tailwindcss";
@theme {
  --font-sans: "M PLUS 1p", sans-serif;
}

.bg-grid {
  background-image:
    linear-gradient(to right, rgba(0 0 0 / 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0 0 0 / 0.05) 1px, transparent 1px);
  background-position: center;
  background-size: 32px 32px;
}
